
.box {
    padding: 10px 5px;
}


.elements {
    display: block;
    font-weight: bold;
}

.s1 {
    font-size: xx-large;
}

.s2 {
    font-size: xxx-large;
    margin: 10px 0;
    background-color: powderblue;
}

.s3 {
    background-color: lightgreen;
    font-size: larger;
}

.menu-link {
    display: inline;
    color: blue;
    text-decoration: 1px solid blue underline;
    padding: 5px;
}


.products {
    display: inline-block;
    height: 300px;
    width: 200px;
    margin: 20px 10px;
    text-align: center;
    padding-top: 10px;
}

.p1 {
    background-color: yellowgreen;
}


.p2 {
    background-color: crimson;
}

.p3 {
    background-color: powderblue;
}