
.box {
    padding: 10px 5px;
    background-color: plum;
}


.article-h1{

}


.article-p2{
    clear: both;
    text-align: center;
    width: 150px;
}

.article-img{
    float: left;
    height: 200px;
    width: 150px;
    margin: 0 15px 2px 0;
}
